.counter {
  font-weight: bold;
}

.breathCounter {
  background: lightgreen;
  animation-duration: 3500ms;
  animation-name: breath;
  animation-iteration-count: infinite;
}

@keyframes breath {
  from {
    scale: 0.05;
  }

  60% {
    scale: 1;
  }

  to {
    scale: 0.05;
  }
}
