.bubble { 
  width: 140px;
  height: 140px;
  background: lightgreen;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 64px;
  font-weight: bold;
}

.bubble {
  animation-duration: 3500ms;
  animation-name: breath;
  animation-iteration-count: infinite;
}

@keyframes breath {
  from {
    scale: 0.05;
  }

  50% {
    scale: 1;
  }

  to {
    scale: 0.05;
  }
}
