.countdown { 
  /* width: 140px;
  height: 140px; */
  background: lightblue;
  /* border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.countdownDisplay {
  color: black;
  font-size: 60px;
  font-weight: bold;
}