.result {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.result h1 {
  text-align: center;
  text-transform: uppercase;
}

.result ul {
  list-style-type: none;
  padding: 0;
}

.result table {
  font-family: monospace;
  align-self: center;
  font-weight: bold;
}

tbody tr:first-child {
  background-color: lightyellow;
}

td {
  padding: 5px;
  border-bottom: 4px solid black;
}


tr:last-child td{
  border-bottom: none;
}

tr td:first-child {
  padding-right: 4rem;
}