.stopwatch { 
  /* width: 140px;
  height: 140px; */
  background: green;
  /* border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.stopwatch-display {
  color: white;
  font-size: 40px;
}