.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: center;
  margin: 0 auto;
  min-height: 300px;
  overflow: auto;
  padding: 0 1rem;
  row-gap: 10px;
}

.circle { 
  align-items: center;
  border-radius: 200px;
  display: flex;
  font-size: 100px;
  font-weight: bold;
  height: 300px;
  justify-content: center;
  margin: 1.5rem;
  width: 300px;
}

.btn {
  font-size: 60px;
  border-radius: 15px;
  padding: 0.6rem 2rem 0.4rem 2rem;
  color: #000;
  background: #f4f961;
  text-transform: uppercase;
  font-family: "Trebuchet MS";
  font-weight: bold;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

h3 {
  margin: 0;
  text-align: center;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
